services:
  bin-check-prod:
    image: ghcr.io/kmtempe/bin-checker:master #you can specify tag here example: ghcr.io/kmtempe/bin-checker:1.1.1-1
    ports:
      - "4040:3000"
    environment:
      - NODE_ENV=production
    restart: always
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:3000/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
